
<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->
<!-- Mirrored from htmlbeans.com/html/paradise/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 04 Jun 2019 02:36:51 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Sweetnails & Spa </title>
    <link rel="shortcut icon" href="~/images/logo/logoico.ico" />
    
    
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/icofont.css">
    <link rel="stylesheet" href="~/css/plugins.css">
    <link href="~/style.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/color.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <script src="~/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body class="hb-home hb-homeone">
    <div id="hb-wrapper" class="hb-wrapper hb-haslayout">
        <!--Header-->
        <header id="hb-header" class="hb-header hb-haslayout">
            <div class="hb-topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="hb-info-area">
                                <ul class="list-unstyled hb-info">
                                    <li>
                                        <a href="mailto:info@sweetnailsspa.com"><i class="fa fa-envelope"></i>info@sweetnailsspa.com</a>
                                    </li>
                                    <li>
                                        <a href="tel:+6047701350"><i class="fa fa-phone"></i>+604 770 1350</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="hb-socialicons-area">
                                @*<span class="hb-timeandday">Open hours: 10.00AM - 7.00PM Monday-Saturday 11.00AM-6.00PM Sunday-Holiday</span>*@

                                <ul class="hb-socialicons hb-withoutbackground list-unstyled">
                                    @*<li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>*@
                                    <li><a href="https://www.facebook.com/profile.php?id=100012737794571"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/sweetnailsspa_northvan/"><i class="fab fa-instagram"></i></a></li>
                                    @*<li><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hb-navigationarea">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <strong class="hb-logo"><a href="@Url.Action("Index","Home")"><img src="~/images/logo/logo21.png" alt="company logo here"></a></strong>

                            @*<div class="hb-addnav">
                                <div class="hb-searcharea">
                                    <a href="#" class="search-opener"><i class="icon_search"></i></a>
                                </div>
                                <div class="hb-cartarea">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon_bag_alt"></span>
                                    </a>
                                    <ul class="list-unstyled dropdown-menu hb-cart right">
                                        <li>
                                            <figure><img src="~/images/cart-img01.jpg" alt="image description"></figure>
                                            <h3><span>$130.00 x 1</span>OIL MASSAGES</h3>
                                            <button><i class="ti-close"></i></button>
                                        </li>
                                        <li>
                                            <figure><img src="~/images/cart-img02.jpg" alt="image description"></figure>
                                            <h3><span>$130.00 x 1</span>OIL MASSAGES</h3>
                                            <button><i class="ti-close"></i></button>
                                        </li>
                                        <li>
                                            <span class="hb-total">total:<em>$460.00</em></span>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="hb-btn hb-btn-lg changehover font-base fw-medium text-center text-uppercase">VIEW CARD</a>
                                            <a href="javascript:void(0);" class="hb-btn hb-btn-lg font-base fw-medium text-center text-uppercase">CHECK OUT</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>*@
                            <nav id="hb-nav" class="hb-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hb-navigation" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="hb-navigation" class="collapse navbar-collapse hb-navigation">
                                    <ul>
                                        <li class="menu-item-has-children">
                                            <a href="@Url.Action("Index","Home")" title="Home">Home</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);">Services</a>
                                            <ul class="list-unstyled sub-menu">
                                                @foreach (var item in new Nails.Models.NailsEntities1().tbl_service.Where(q => q.hienthi == "1"))
                                                {
                                                    <li><a href="@Url.Action("Service","Services",new{id=item.ma_dv})">@item.nameid</a></li>
                                                }

                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);">Gallery</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);">About us</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="contactus.html">Parties & Event</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="@Url.Action("Index","Contact")" title="Contact">Contact us</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <!--Footer Start-->
        <footer id="hb-footer" class="hb-footer hb-haslayout">
            <div class="hb-footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="hb-col">
                                <strong class="hb-logo">
                                    <a href="javascript:void"><img src="~/images/logo/logo21.png" alt=""></a>
                                </strong>
                                <span class="hb-timeandday"><strong>Open hours:</strong> <br />Monday-Saturday: 8.00AM-6.00PM <br /> Sunday & Holiday: 11.00AM-6.00PM  </span>

                                

                                <ul class="list-unstyled hb-socialicons">
                                    <li><a href="https://www.facebook.com/profile.php?id=100012737794571"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                    <li class="hb-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="https://www.instagram.com/sweetnailsspa_northvan/"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="hb-col">
                                <h3>Contacts</h3>
                                <ul class="list-unstyled hb-info">
                                    <li>
                                        <span>Phone: +604 770 1350<a href="mailto:info@sweetnailsspa.com">info@sweetnailsspa.com</a></span>
                                    </li>
                                    <li><span>Address: Unit 202-1150 Marine Dr<em>N. Vancouver. BC V7P 1S8</em></span></li>
                                     
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="hb-col">
                                <h3>Our Newsletter</h3>
                                <div class="hb-emailarea">
                                    <form class="hb-formtheme">
                                        <fieldset>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="E-mail">
                                                <button type="submit" class="hb-btn">SUBSCRIBE</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                <div class="hb-description">
                                    <p>Subscribe to our mailing list to get the updates to your email inbox.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <div class="hb-col hb-widget">
                                <ul>
                                    <li><a href="javascript:void(0);"><img src="~/images/wid/flickr-img-02.jpg" alt="image description"></a></li>
                                    <li><a href="javascript:void(0);"><img src="~/images/wid/flickr-img-04.jpg" alt="image description"></a></li>
                                    <li><a href="javascript:void(0);"><img src="~/images/wid/flickr-img-05.jpg" alt="image description"></a></li>
                                    <li><a href="javascript:void(0);"><img src="~/images/wid/flickr-img-07.jpg" alt="image description"></a></li>
                                    <li><a href="javascript:void(0);"><img src="~/images/wid/flickr-img-09.jpg" alt="image description"></a></li>
                                    <li><a href="javascript:void(0);"><img src="~/images/wid/flickr-img-10.jpg" alt="image description"></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hb-footerbar">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <span class="hb-copyright">Copyright ©2019 SweetNailsSpa.</span>
                            <ul class="list-unstyled hb-footernav">
                                <li><a href="javascript:void(0);">About </a></li>
                                <li><a href="javascript:void(0);">Terms & Conditions</a></li>
                                <li><a href="javascript:void(0);">Privacy Policy</a></li>
                                <li><a href="javascript:void(0);">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <span id="back-top" class="text-center rounded-circle fa fa-angle-up"></span>
        <div id="loader" class="loader-holder">
            <div class="block">
                <div class="dot white"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
    <!--************************************
            Wrapper End
    *************************************-->
    <script src="~/js/vendor/jquery-library.js"></script>
    <script src="~/js/vendor/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/isotope.pkgd.js"></script>
    <script src="~/js/isotop.js"></script>
    <script src="~/js/countTo.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/main.js"></script>
</body>

<!-- Mirrored from htmlbeans.com/html/paradise/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 04 Jun 2019 02:37:17 GMT -->
</html>